<%- include(`../components/header`)%>
  
    <!-- Fixed navbar -->
  <%- include(`../components/navigation`)%>
<main role="main" class="flex-shrink-0">
<div  id='contactme' class="container">

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2">
        <h2> Contact Me </h2>
        
        <form id="contact-form" method="post" action="" role="form">

        <div class="messages"></div>

        <div class="controls">
          <fieldset>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_name">Firstname *</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_lastname">Lastname *</label>
                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_email">Email *</label>
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_phone">Subject *</label>
                <input id="form_phone" type="text" name="emailSubject" class="form-control" placeholder="Please enter email Subject" required="required" data-error="Valid subject line is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">Message *</label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required data-error="Please,leave us a message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
          </div>
         <fieldset>
        </div>

        </form>

      </div>

    </div>

  </div>
</main>
<script src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js'></script>
<script type="text/javascript">

</script>
    <%- include(`../components/footer`) %>