<%- include(`../components/header`)%>
	
	  <!-- Fixed navbar -->
	<%- include(`../components/navigation`)%>
	
	<!-- Header Section End-->
	<!-- Main Section Start-->
	<main role="main" class="flex-shrink-0">
	<div id="wrapper" class="container">
		<div id="info" class="row mb-3 border-bottom">
			 <div class="col-md-1 themed-grid-col text-left">
			 	<h6>Quincy, MA</h6>
			 </div>
			 <div class="col-md-8 themed-grid-col text-center">
			 	<h1>Hirav Raval</h1>
			 </div>
			 <div class="col-md-3 themed-grid-col text-right">
			 	<div class="row">
			 		<a class="col-12" href="mailto:hiravraval@gmail.com">hiravraval@gmail.com</a>
			 		<a class="col-12" href="tel:732-666-7207">732-666-7207</a>
			 	</div>
			 </div>
		</div>
		<div id="summary" class="row border-bottom">
			<div class="col-12">
				<p>Experienced Web/eCommerce Lead Developer with a demonstrated history of working in the IT industry. Skilled in SalesForce Commerce Cloud(Demandware) with 5+ years of expeirence, PHP, JavaScript, HTML, Magento, and, Java. Strong engineering professional with a Master's focused in Computer Science from Polytechnic Institute of NYU. </p>
			</div>
		</div>
		<div id="technicalSummary" class="row  border-bottom">
			<div class="col-12">
				<p class="h4">Technical Summary</p>
			</div>
			<div class="col-12">
				<dl class="row">
					<dt class="col-sm-2">Programming</dt>
					<dd class="col-sm-10">JavaScript, HTML5, CSS3, PHP, nodejs, Bootstrap,Java</dd>
					<dt class="col-sm-2">Tools</dt>
					<dd class="col-sm-10">GIT, Eclipse, Cloudbee, Bitbucket, SourceTree, Grunt, Visual Studio, Visual Source Safe</dd>
					<dt class="col-sm-2">CMS</dt>
					<dd class="col-sm-10">Salesforce Commerce Cloud (Demandware), WordPress, Magento</dd>
					<dt class="col-sm-2">Others</dt>
					<dd class="col-sm-10">Google APIs, Facebook API, CheetahMail, Twitter API, Marketo, Core Metrics, Omniture</dd>
				</dl>
			</div>			
		</div>
		<div id="experience" class="row  border-bottom">
			<div class="col-12">
				<p class=" h4">Experience</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-2 text-left">
						<div class="row">
							<div class="col-12">Lead Developer</div>
							<div class="col-12">Hingham, MA</div>
						</div>
					 </div>
					<div class="col-7 text-center"><h6>Coldwater Direct LLC</h6></div>
					<div class="col-3 text-right"><time>08/2019 - Present</time></div>
					<div class="col">
						<ul>
							<li>Develop, maintain and tested new Demandware/SFCC web modules for shopping cart, marketing </li>
							<li>Team up with ecommerce team to comprehend business requirements</li>
							<li>Implemented the ADA compliance tool - Audioeye. </li>
							<li>Updating the SSL certification for website.</li>
							<li>Developed a custom cartridge for cheetahmail implementation. </li>
							<li>Solved critical issues, bugs and enhanced the user experience using JavaScript and its libraries and CSS frameworks. </li>
							<li>Spearheaded project planning sessions with managers, business analysts, and team members to analyze business requirements and outline proposed IT solutions.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-2 text-left">
						<div class="row">
							<div class="col-12">SFCC Developer</div>
							<div class="col-12">Charlotte, NC</div>
						</div>
					 </div>
					<div class="col-7 text-center"><h6>NJTech Inc.</h6></div>
					<div class="col-3 text-right"><time>05/2017 – 05/2018</time></div>
					<div class="col">
						<ul>
							<li>Develop and maintain new Cron jobs to provide and gather necessary information for a product. </li>
							<li>Providing production support when required.</li>
							<li>Implemented the Google invisible recaptch on SFCC platform. </li>
							<li>Developed a web site for merchants so that they can debug and product related issues (examples are promotions, inventory, flags etc) using OCAPI and node and express. </li>
							<li>Solved critical issues and bugs using JavaScript and its libraries and framework like angular and react. </li>
							<li>Using Bitbucket and SourceTree, managing the code version and create a new when needed. </li>
							<li>Supporting Customer Service and offshore team by provided necessary information regarding the site and third party documentations.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-2 text-left">
						<div class="row">
							<div class="col-12">Software Engineer</div>
							<div class="col-12">New York, NY</div>
						</div>
					 </div>
					<div class="col-7 text-center"><h6>Tarte Inc</h6></div>
					<div class="col-3 text-right"><time>11/2016 – 04/2017</time></div>
					<div class="col">
						<ul>
							<li>Develop new and promotional web module through using pipeline, ISML, DemandWare Script, HTML5, CSS3, JavaScript and libraries/framework (jQuery, Bootstrap).</li>
							<li>Integrated third party applications using the REST API methodology. </li>
							<li>Build and manage Order Management System using LAMP stack.</li>
							<li>Architected, develop and tested eGift module.</li>
							<li>Work with system users to identify the problems with a focus on performance and patches. </li>
							<li>Worked with business partners and gather all the required information and convert them into technical details and proposed the architected solutions.</li>
							<li>Develop and maintain new Cron jobs to provide and gather necessary information for a product. </li>
							<li>Supported Customer Service and offshore team by provided necessary information regarding the site and third-party documentations. </li>
							<li>Collaborated with database administrators to design appropriate data structures and optimize it.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-2 text-left">
						<div class="row">
							<div class="col-12">SFCC Developer</div>
							<div class="col-12">Newark, NJ</div>
						</div>
					</div>
					<div class="col-7 text-center"><h6>Panasonic Corporation of NA</h6></div>
					<div class="col-3 text-right"><time>06/2015 – 10/2016</time></div>
					<div class="col">
						<ul>
							<li>Implemented product review cartridge and the payment gateway as a part of a team.</li>
							<li>Solved complex issues and critical bugs in Demandware. </li>
							<li>Involved in estimation of timeframe for development, testing and deployment. </li>
							<li>Architected two promotional/marketing responsive web sites and guided three developer using media query and bootstrap CSS and lead 3 developers.</li>
							<li>Gathering requirements from various group and convert them in to the technical documentation.</li>
							<li>Develop code for bugs using Eclipse IDE, Bitbucket for version control and Cloudbees for code build. </li>
							<li>Integrate multiple third party API across the site using the REST API method. E.g. social feeds, news feeds, Facebook.</li>
							<li>Project planning sessions with managers, business analysts, and team members to analyze business requirements and outline proposed IT solutions.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div id="education" class="row  border-bottom">
			<div class="col-12">
				<p class="h4">Education</p>
			</div>
			<div class="col">
				<p class="col-sm-10">M.S., Computer Science, Polytechnic Institute of NYU, NY, USA (2011)</p>
				<p class="col-sm-10">B.E., Computer Engineering, Saurashtra University, Gujarat, India (2008)</p>
			</div>
		</div>
	</div>
	
	</main>
	<!-- Main Section End-->
	<!-- Footer Section Start-->
	<%- include(`../components/footer`) %>
	